In [11]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os

In [19]:
os.chdir("C:/Users/Dell-/Desktop/AUC/DIH/Git/EagleEye") # Change working directory to project (hacky way to avoid path issues)

In [20]:
#Lets start with the analysis of the dim data
# #1 dim_add_ons

dim_add_ons = pd.read_csv("Data\\dim_add_ons.csv")
dim_add_ons.head()

,id,user_id,created,updated,category_id,deleted,demo_mode,index,price,select_as_default,status,title
0,59840,423,1610874595,1719406250,81504,0,0,0,0.0,0,Active,The Rudimental
1,59841,423,1610874595,1719406250,81504,0,0,0,0.0,0,Active,The Classic
2,59844,423,1610875148,1719406250,81504,0,0,0,0.0,0,Active,The Rudimental
3,59845,423,1610875148,1719406250,81504,0,0,0,0.0,0,Active,The Garden
4,59848,423,1610875674,1719406250,81504,0,0,0,0.0,0,Active,Real Chili Mayo