In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os

In [2]:
os.chdir("C:/Users/Dell-/Desktop/AUC/DIH/Git/EagleEye") # Change working directory to project (hacky way to avoid path issues)

In [3]:
#Lets start with the analysis of the dim data
# #1 dim_add_ons

dim_add_ons = pd.read_csv("Data\\dim_add_ons.csv")
dim_add_ons.head()

,id,user_id,created,updated,category_id,deleted,demo_mode,index,price,select_as_default,status,title
0,59840,423,1610874595,1719406250,81504,0,0,0,0.0,0,Active,The Rudimental
1,59841,423,1610874595,1719406250,81504,0,0,0,0.0,0,Active,The Classic
2,59844,423,1610875148,1719406250,81504,0,0,0,0.0,0,Active,The Rudimental
3,59845,423,1610875148,1719406250,81504,0,0,0,0.0,0,Active,The Garden
4,59848,423,1610875674,1719406250,81504,0,0,0,0.0,0,Active,Real Chili Mayo

In [4]:
# #2 skipped since itso only 2 rows

In [5]:
# #3 dim_campaigns
dim_campaigns = pd.read_csv("Data\\dim_campaigns.csv")
dim_campaigns.head()

,id,user_id,created,updated,place_id,status,type
0,60594,423,1612819150,1659482246,59897,Inactive,Discount on specific menu items
1,60609,423,1612819657,1659482250,59897,Inactive,Discount on specific menu items
2,60610,423,1612820393,1659482250,59821,Inactive,2 for 1 on specific menu items
3,60611,423,1612820493,1659482250,59821,Inactive,Discount on specific menu items
4,61343,423,1614261570,1659482279,59821,Inactive,Discount on total bill

In [6]:
# #4 dim_items
dim_items = pd.read_csv("Data\\dim_items.csv")
dim_items.head()

C:\Users\Dell-\AppData\Local\Temp\ipykernel_27188\2365910716.py:2: DtypeWarning: Columns (0: printer_category_ids, 1: all_you_can_eat_item_ids) have mixed types. Specify dtype option on import or set low_memory=False.
  dim_items = pd.read_csv("Data\\dim_items.csv")

,id,user_id,created,updated,accounting_reference,barcode,deleted,delivery,demo_mode,description,...,variable_price,vat,voucher,add_on_category_ids,printer_category_ids,standard_voucher_validity,manage_inventory,all_you_can_eat,all_you_can_eat_item_ids,all_you_can_eat_validity
0,59837,423,1610874221,1719416473,NaN,NaN,0,1,0,"Burger with beyond meat patty, tomato, red oni...",...,0,25.0,0,61551|61554|61562|61571|61575|61580,NaN,NaN,0,0,NaN,NaN
1,59838,423,1610874348,1719416473,NaN,NaN,0,1,0,Burger with baked portobello mushroom with gar...,...,0,25.0,0,61551|61554|61562|61571|61575|61580,NaN,NaN,0,0,NaN,NaN
2,59839,423,1610874458,1719416473,NaN,NaN,0,1,0,"Burger with Celeriach (poached in stock), toma...",...,0,25.0,0,61551|61554|61562|61571|61575|61580,NaN,NaN,0,0,NaN,NaN
3,59843,423,1610875050,1741152796,NaN,NaN,0,1,0,"Feeling hungry? Double patty, double cheese, d...",...,0,25.0,0,61566|61551|61554|61562|61571|61575|61580,NaN,365.0,0,0,NaN,NaN
4,59856,423,1610875873,1719416473,NaN,NaN,0,1,0,NaN,...,0,25.0,0,NaN,NaN,NaN,0,0,NaN,NaN

In [7]:
# #5 dim_menu_item_add_ons
dim_menu_item_add_ons = pd.read_csv("Data\\dim_menu_item_add_ons.csv")
dim_menu_item_add_ons.head()

,id,category_id,created,title,select_as_default,status,index,price
0,296817,296816,1686064210,Bearnaisesauce,0,Active,0,0.0
1,449630,449629,1699454781,Lille,0,Active,0,0.0
2,449635,449629,1699454790,Stor,0,Active,1,19.0
3,449651,449650,1699454965,Lille,0,Active,0,0.0
4,449652,449650,1699454975,Stor,0,Active,1,5.0